body {
    background: url(../images/finalBackground.jpg) no-repeat center center fixed;
    /*position: fixed; top: 0; left: 0;*/
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.zagolovok {
    text-align: left;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 50px;
    margin-left: 30px;
    padding-top: 60px;


}

.starCount {
    text-align: left;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    margin-left: 30px;


}

.pic {
    float: left;
    padding-right: 50px;
    padding-left: 150px;
    padding-top: 50px;
    width: 500px;
    height: 300px;
}

.btn-info {
    float: right;
    background-color: #2196F3;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    margin-right: 50px;
}

.about {
    margin-top: 10px;
    font-size: 15px;
    width: 80%;
    vertical-align: top; /* Выравнивание по верхнему краю */
}

.shadoww {
    box-shadow: 0 0 7px;
    height: 350px;
}
